__pycache__/
*.egg-info/
.cache/*
!.cache/.gitkeep
.pytest_cache/
.pytest-tmp*/
.mypy_cache/
.ruff_cache/
.uv-cache/
.coverage
coverage.xml
htmlcov/
*.log
.idea
.claude
.venv
resources
.env

picture
build/
dist/
*.spec
docs
.cache/
debug-sample-aes/
